<div class="mb-4" style="max-width: 75%; margin: 0 auto; col-sm-10">
    <h1>Tervetuloa varaamaan mökkejä!</h1>
    <div class="jumbotron">
        <h1 class="display-4">Vuokraa mökki helposti!</h1>
        <hr class="my-3">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/mokit" role="button">Vuokraa mökkejä!</a>
        </p>
    </div>
</div>